@model HotelViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_LoggedLayout";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="HotelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
